[submodule "src/modules/avl-components"]
	path = src/modules/avl-components
	url = https://github.com/availabs/avl-components
[submodule "src/modules/avl-graph"]
	path = src/modules/avl-graph
	url = https://github.com/availabs/avl-graph.git
[submodule "src/modules/avl-map"]
	path = src/modules/avl-map
	url = https://github.com/availabs/avl-map.git
[submodule "src/modules/ams"]
	path = src/modules/ams
	url = git@github.com:availabs/ams.git
[submodule "src/pages/DataManagerClient"]
	path = src/pages/DataManagerClient
	url = git@github.com:availabs/DataManagerClient.git
