[submodule "src/modules/avl-components"]
	path = src/modules/avl-components
	url = https://github.com/availabs/avl-components
[submodule "src/modules/avl-graph"]
	path = src/modules/avl-graph
	url = https://github.com/availabs/avl-graph.git
