@tailwind base;
@tailwind components;
@tailwind utilities;

.hoverable .show-on-hover {
  display: none;
}
.hoverable:hover .show-on-hover {
  display: block;
}
.hoverable:hover .show-on-hover.show-on-bottom {
  top: 100%;
}
.hoverable:hover .show-on-hover.show-on-top {
  bottom: 100%;
}

.scrollbar::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  background-color: #bbb;
}
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #888;
}
.scrollbar::-webkit-scrollbar-thumb:hover {

}
.scrollbar-sm::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  background-color: #bbb;
}
.scrollbar-sm::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #888;
}
.scrollbar-sm::-webkit-scrollbar-thumb:hover {
}

@font-face{
  font-family:'Proxima Nova W01';
  src:url(./fonts/ProximaNova-Light-webfont.eot);
  src:url(./fonts/ProximaNova-Light-webfont.eot?#iefix) format("embedded-opentype"),
      url(./fonts/ProximaNova-Light-webfont.woff) format("woff"),
      url(./fonts/ProximaNova-Light-webfont.ttf) format("truetype");
  font-weight:300;
  font-style:normal
}

@font-face{
  font-family:'Proxima Nova W01';
  src:url(./fonts/ProximaNova-Reg-webfont.eot);
  src:url(./fonts/ProximaNova-Reg-webfont.eot?#iefix) format("embedded-opentype"),
      url(./fonts/ProximaNova-Reg-webfont.woff) format("woff"),
      url(./fonts/ProximaNova-Reg-webfont.ttf) format("truetype");
  font-weight:400;
  font-style:normal
}

@font-face{
  font-family:'Proxima Nova W01';
  src:url(./fonts/ProximaNova-Sbold-webfont.eot);
  src:url(./fonts/ProximaNova-Sbold-webfont.eot?#iefix) format("embedded-opentype"),
      url(./fonts/ProximaNova-Sbold-webfont.woff) format("woff"),
      url(./fonts/ProximaNova-Sbold-webfont.ttf) format("truetype");
  font-weight:500;
  font-style:normal
}

@font-face{
  font-family:'Proxima Nova W01';
  src:url(./fonts/ProximaNova-Bold-webfont.eot);
  src:url(./fonts/ProximaNova-Bold-webfont.eot?#iefix) format("embedded-opentype"),
      url(./fonts/ProximaNova-Bold-webfont.woff) format("woff"),
      url(./fonts/ProximaNova-Bold-webfont.ttf) format("truetype");
  font-weight:700;
  font-style:normal
}

@font-face{
  font-family:'Proxima Nova W01';
  src:url(./fonts/ProximaNova-Xbold-webfont.eot);
  src:url(./fonts/ProximaNova-Xbold-webfont.eot?#iefix) format("embedded-opentype"),
      url(./fonts/ProximaNova-Xbold-webfont.woff) format("woff"),
      url(./fonts/ProximaNova-Xbold-webfont.ttf) format("truetype");
  font-weight:900;
  font-style:normal
}