@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.hoverable .show-on-hover {
  display: none;
}
.hoverable:hover .show-on-hover {
  display: block;
}
.hoverable:hover .show-on-hover.show-on-bottom {
  top: 100%;
}
.hoverable:hover .show-on-hover.show-on-top {
  bottom: 100%;
}

.scrollbar-xl::-webkit-scrollbar {
  height: 14px;
  width: 14px;
  border-radius: 7px;
  background-color: #e2e8f0;
}
.scrollbar-xl::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: #94a3b8;
}
.scrollbar-xl::-webkit-scrollbar-thumb:hover {

}

.scrollbar-lg::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  border-radius: 6px;
  background-color: #e2e8f0;
}
.scrollbar-lg::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #94a3b8;
}
.scrollbar-lg::-webkit-scrollbar-thumb:hover {

}

.scrollbar::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: #e2e8f0;
}
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #94a3b8;
}
.scrollbar::-webkit-scrollbar-thumb:hover {

}

.scrollbar-sm::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  border-radius: 4px;
  background-color: #e2e8f0;
}
.scrollbar-sm::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #94a3b8;
}
.scrollbar-sm::-webkit-scrollbar-thumb:hover {
}

.scrollbar-xs::-webkit-scrollbar {
  height: 6px;
  width: 6px;
  border-radius: 3px;
  background-color: #e2e8f0;
}
.scrollbar-xs::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #94a3b8;
}
.scrollbar-xs::-webkit-scrollbar-thumb:hover {
}
